.test{
    border: solid white;
    /* border: solid black; */
}

.icon-edit{
    margin-top: 20px;
    color: green;
    font-size: 23px;
}

.icon-edit2{
    margin-top: 20px;
    color: black;
    font-size: 23px;

}



#container-edits {
    border: solid black;

    margin-top: -10px;
    margin-left: -3px;
}

.inliner{
    display: inline-flex;
   }


.cont-edit{
    /* border: solid black; */
    display: flex;
    justify-content: end;
   }


   .dropdown {
    margin-top: 4px;
  }
  
  .spaced{
    margin-right: 2px;
   }

   .copall{
    margin-right: -17px;
   }

   .dropped{
    margin-top: 5px;  
   }

   .moduleBtn{
    margin-top: 5px;
   }


   .plus-icon{
    font-size: 17px;
    margin-top: -2px;
   }

   .check-icon{
    font-size: 17px;
    color: green;
    margin-right: 4px;
    margin-top: -2px
   }


   .spac{
    margin-top: 7px;
   }