

#nav_tab {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    width: 97px;
    height: 45rem;
}


#name_tag{
    display: flex;
    margin-left: 20px
}
#divisor{
    display: flex;
    margin-left: -3px;
}

.spacingUp{
    margin-top: 19px;
}



#nav2_tab {
    display: flex;
    /*! flex: ; */flex-direction: column;
    /* border: solid; */
    height: 45rem;
    margin-left: 6px;
    /*! margin-bottom: ; */
    margin-top: -2px;
    /* border: solid; */
  }






  #nav_t {
    display: flex;
    /*! flex-direction: column; */
    margin-left: 121px;
    margin-top: -35rem;
    width: 8rem;
    height: 560px;
    background-color: black;
  }

  #nav_tab {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 107px;
    height: 35rem;
    margin-top: 1rem;
}

/* #nav_tab {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 107px;
    height: 35rem;
    margin-top: 4rem;
} */




#profile_tab {
    display: flex;
    flex-direction: column;
    margin-left: 17rem;
    margin-top: -35rem;
    width: 44rem;
    /*! border: solid; */
    /*! height: 39rem; */
}

#e_nav_tab {
    display: flex;
    flex-direction: column;
    /*! margin-left: 13px; */
    /*! width: 155px; */
}

#e_name_tag{
    display: flex;
    margin-left: 20px
}
#e_divisor{
    display: flex;
    margin-left: -3px;
}

.spacingUp{
    margin-top: 19px;
}

#e_profile_tab {
    display: flex;
    flex-direction: column;
    width: 461px;
    margin-left: 6px;
}

#e_body_space{
    display: flex;
    width: 109%;
    margin-left: 1px;
}

#e_nav_tab2{
    display: flex;
    flex-direction: column;
    margin-left: 18px;      
}


#profile_divisor{
    display: flex;
    flex-direction: column;  
    /* border: solid; */
}




