#nav_tab {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 97px;
    background-color: black;
    height: 100%;
    flex-grow: 1 !important;
}

.fl-cnt{
    display: flex;
    flex-direction: column;
    height: 100%;
}


#nav_tab a {
    margin-bottom: 5px;
}


#nav_tab a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}




  .nav_2 {
    position: fixed;  
    top: 130px;  
    left: 118px;  
    display: flex;
    flex-direction: column;
  }



  .link_space{

    margin-bottom:15px;
    color: red;
    text-decoration: none;
  }
  


.link_dec{
    color: white;
}

#course_id{
    background-color: white;
    color: red;
}


html, body{
    height: 100%;
    margin:0;
} 

