#nav_tab{
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    width: 113px;
    background-color: black;
}


#nav_tab a{
    text-decoration: none;
    color: red;
}
#name_tag{
    display: flex;
    margin-left: 20px
}
#divisor{
    display: flex;
    margin-left: -3px;
}

.spacingUp{
    margin-top: 19px;
}

#profile_tab {
    display: flex;
    flex-direction: column;
    margin-left: 283px;
    margin-top: -241px;
    background-color: white;
}


#nav_tab2 {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    background-color: black; 
    width: 124px;
    background-color: antiquewhite;

}

#nav_tab2 a{
    text-decoration: none;
    color: red;
}


wd-link{
    color: white;
}


wd-flex{
    display: flex;
}