#nav_tab{
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    width: 88px;
}
#name_tag{
    display: flex;
    margin-left: 20px
}
#divisor{
    display: flex;
    margin-left: -3px;
}

.spacingUp{
    margin-top: 19px;
}

#profile_tab {
    display: flex;
    flex-direction: column;
    margin-left: 283px;
    margin-top: -212px;
}


#nav_tab2{
display: flex;
flex-direction: column;
margin-left: 103px;
margin-top: -176px;      
}