



#td_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 10px;
    width: 82px;
    /*! border: solid; */
    height: 11rem;
}





#td_nav2 {
    display: flex;
    flex-direction: column;
    /*! justify-content: space-between; */
    margin-top: -11rem;
    margin-left: 132px;
    /*! border: solid; */
    width: 109px;
    /*! height: 40rem; */
}



#top-nav{
    display: flex;
    flex-direction: column;
}

#wd-flex{
    display: flex;
}


#content-margin{
    margin-left: 45px;
}

#course-nav{
    display: flex;
    flex-direction: column;
    /* margin-top: -23px; */
}

#coming-nav{
    display: flex;
    flex-direction: column;
    margin-top: -21px;
}